@use "../../../style/variable";
@import "../../../style/variable.scss";

@media screen and (max-width: 960px) {
  .popup {
    h2 {
      @include font($silver, 14px, 18px);
    }
    .winner {
      h1 {
        gap: 8px;
        @include font(variable.$lightYellow, 24px, 30px);
      }
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .popup {
    h2 {
      @include font(variable.$silver, 16px, 20px);
    }
    .winner {
      h1 {
        gap: 24px;
        @include font(variable.$lightYellow, 40px, 50px);
      }
    }
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 140%;
  mix-blend-mode: normal;
  opacity: 0.5;
  background: black;
}

.popup {
  padding: 45px;
  box-sizing: border-box;
  @include flex(column);
  position: absolute;
  width: 100%;
  background-color: variable.$semyDarkNavy;
  button {
    cursor: pointer;
    border-style: none;
  }

  .winner {
    h1 {
      @include flex(row);
    }
  }

  .popup-bottom {
    display: flex;
    gap: 16px;
  }
  .popup-bottom button:nth-child(1) {
    background: variable.$silver;
    width: 76px;
    height: 52px;
    box-shadow: inset 0px -4px 0px variable.$silver;
    border-radius: 10px;
  }
  .popup-bottom button:nth-child(2) {
    background-color: variable.$lightYellow;
    width: 146px;
    height: 52px;
    box-shadow: inset 0px -4px 0px variable.$lightYellow;
    border-radius: 10px;
  }
}
