@use "../../style/variable";
@import "../../style/variable.scss";

.board {
  display: flex;
  flex-direction: column;
  gap: 20px;
  button {
    cursor: pointer;
  }

  .board-top {
    display: flex;
    justify-content: space-between;
  }
  .board-row {
    gap: 20px;
    display: flex;
    button {
      box-shadow: inset 0px -8px 0px #10212a;
      border-radius: 15px;
      border-style: none;
      background: variable.$semyDarkNavy;
      width: 140px;
      height: 140px;
    }
  }
  .board-bottom {
    display: flex;
    justify-content: space-between;
    div {
      @include flex(column);
      @include font(variable.$darkNavy, 14px, 18px);
      width: 140px;
      height: 72px;
      background: variable.$lightBlue;
      border-radius: 15px;
      border-style: none;
    }
  }
  .board-bottom div:nth-child(2) {
    background-color: variable.$silver;
  }
  .board-bottom div:nth-child(3) {
    background-color: variable.$lightYellow;
  }
}
