@use "../../style/variable";
@import "../../style/variable.scss";

.board {
  display: flex;
  flex-direction: column;
  gap: 20px;
  button {
    cursor: pointer;
  }

  .board-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      border-style: none;
    }
  }
  .board-top button:nth-child(2) {
    @include flex(row);
    gap: 13px;
    width: 140px;
    height: 52px;
    @include font(variable.$silver, 16px, 20px);
    background-color: variable.$semyDarkNavy;
    color: variable.$silver;
    box-shadow: inset 0px -4px 0px #10212a;
    border-radius: 10px;
  }
  .board-top button:nth-child(3) {
    box-shadow: inset 0px -4px 0px #6b8997;
    border-radius: 10px;
    width: 52px;
    height: 52px;
    background: variable.$silver;
    box-shadow: inset 0px -4px 0px #6b8997;
    border-radius: 10px;
  }
  .board-row {
    gap: 20px;
    display: flex;
    button {
      box-shadow: inset 0px -8px 0px #10212a;
      border-radius: 15px;
      border-style: none;
      background: variable.$semyDarkNavy;
      width: 140px;
      height: 140px;
    }
  }
  .board-bottom {
    display: flex;
    justify-content: space-between;
    div {
      @include flex(column);
      @include font(variable.$darkNavy, 14px, 18px);
      width: 140px;
      height: 72px;
      background: variable.$lightBlue;
      border-radius: 15px;
      border-style: none;
    }
  }
  .board-bottom div:nth-child(2) {
    background-color: variable.$silver;
  }
  .board-bottom div:nth-child(3) {
    background-color: variable.$lightYellow;
  }
}
