@use "./style/variable";
@import "./style/variable.scss";

.App {
  text-align: center;
}

.game-menu {
  margin-top: 215px;

  @include flex(column);

  .game-menu-mid {
    padding: 24px;
    box-sizing: border-box;
    margin: 40px 0;
    width: 460px;
    height: 205px;
    box-shadow: inset 0px -8px 0px #10212a;
    border-radius: 15px;
    background-color: variable.$semyDarkNavy;

    .choice {
      background-color: variable.$darkNavy;
    }
  }
  h3 {
    @include font(variable.$silver, 16px, 20px);
    span {
      mix-blend-mode: normal;
      opacity: 0.5;
    }
  }
}
